body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #1c1c1c;
  color: #fff;
}

#logo {
  width: 220px;
}

#brand-name {
  margin-top: 0px;
  font-size: 24px;
}

.list-item {
  border: 1px solid #282828;
  border-radius: 8px;
  background: #282828;
  box-shadow: 0 1px 3px rgb(0 0 0 / 50%);
  color: #cccccc;
  padding: 16px;
  margin-bottom: 8px;
}
